.text {
    flex: 1;
    margin-left: 30px;
    max-width: 650px;
  }

table {
    border-collapse: collapse;
  }
  
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }